body {

    font-family:"HelveticaNeue", "Arial", sans-serif; 
    color: grey;
    background-color: black;
    border: palevioletred, 3px;
    text-align: center

}

h1 {
    font-size: "7emj";
    font-weight: "bold";
}

h2 {
    font-size: "4emj";
    margin: "0px";
}
P {
margin: "0px";
text-align: "center";

}


img {
    border: 9px solid grey
    
}
.chartContainer {
max-width: 75%;
max-height: 75%;
}
