body {

    font-family:"HelveticaNeue", "Arial", sans-serif;
}

h2 {
    font-size: "4emj";
    margin: "0px";
}
P {
margin: "0px";
text-align: "center";

}
img {
    border: 6px solid orange
}
.chartContainer {
max-width: 75%;
max-height: 75%;
}
