body {

    font-family:"HelveticaNeue", "Arial", sans-serif; 
    color: grey;
    background-color: black;
    border: palevioletred, 3px;
    text-align: center

}

h1 {
    font-size: "7emj";
    font-weight: "bold";
    color: white;
}

h2 {
    font-size: "4emj";
    margin: "0px";
}

P {
    margin: "0px";
    text-align: "center";
    color: white;
}

h4 {
    font-size: "7emj";
    margin: 0px;
    color: white;
    font-weight: "bold";
}

h5 {

    font-size: "7emj";
    margin: 0px;
    color: white;
    font-weight: "bold";
}

h6 {
    font-size: "10emj";
    margin: 0px;
    color: white;
    font-weight: "bold";
}
img {
    border: 9px solid whitesmoke;
    
}

.chartContainer {
    max-width: 75%;
    max-height: 75%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left:auto;
    margin-right:auto;
    border:3px solid green;
f   loat: center 

}
